html{
    scroll-behavior: smooth;
}

nav{
    min-height: 80px;
}

.img-dark-theme{

}
.img-light-theme{
    display: none;
}

.my_text-always-light {
    color: #f8f9fa !important;
  }

a.my_text-always-light:hover, a.my_text-always-light:focus {
    color: #cbd3da !important;
}

